<footer style="text-align: center;">
	<p class="icons-holder">
	  {% if site.kaggle %}
	  <a href="{{ site.kaggle }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/kaggle.png" alt="Kaggle">
	  </a>
	  |
	  {% endif %}
  
	  {% if site.resumeurl %}
	  <a href="{{ site.resumeurl }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/resume.png" alt="Resume">
	  </a>
	  |
	  {% endif %}
  
	  {% if site.linkedinurl %}
	  <a href="{{ site.linkedinurl }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/linkedin.png" alt="LinkedIn">
	  </a>
	  |
	  {% endif %}
  
	  {% if site.githurl %}
	  <a href="{{ site.githurl }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/github.png" alt="GitHub">
	  </a>
	  |
	  {% endif %}
  
	  {% if site.twitterurl %}
	  <a href="{{ site.twitterurl }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/twitter.png" alt="Twitter">
	  </a>
	  |
	  {% endif %}
  
	  {% if site.stackoverflowurl %}
	  <a href="{{ site.stackoverflowurl }}" target="_blank">
		<img src="{{ site.url }}/assets/images/icons/stack-overflow.png" alt="Stack Overflow">
	  </a>
	  {% endif %}
	</p>
  </footer>
  